<% #include SEO stuff in this section %>
	<%= content_for :page_title, 'About Us' %>
	<%= content_for :description, 
		'this would be a meta description for this page.' 
	%>
<% # /SEO %>

<h1>new page</h1>
a new page would be here - about.